@charset "UTF-8";

/*PEN STYLES*/

// * {
//   box-sizing: border-box;
// }
body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #272829;
    background-color: #f7f7f7;
}

html {
    scroll-behavior: smooth;
}

a {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #0563bb;
    text-decoration: none;
}

a:hover {
    color: #067ded;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #ccc;
}

 ::-webkit-scrollbar-thumb {
    background: #0753c7;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #272829;
}

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: #067ded;
}

.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.blog-card .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}

.blog-card .details ul li {
    display: inline-block;
}

.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}

.blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}

.blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "";
    margin-right: 10px;
}

.blog-card .details .tags li {
    margin-right: 2px;
}

.blog-card .details .tags li:first-child {
    margin-left: -4px;
}

.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.blog-card .description .read-more {
    text-align: right;
}

.blog-card .description .read-more a {
    color: #0753c7;
    display: inline-block;
    font-weight: bold;
    position: relative;
}

.blog-card .description .read-more a:hover {
    color: #067ded;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card p:first-of-type {
    margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #0753c7;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details {
    left: 0%;
}

@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
    }
    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .blog-card .description {
        flex-basis: 60%;
    }
    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .blog-card.alt {
        flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }
    .blog-card.alt .details {
        padding-left: 25px;
    }
}

.title-projects {
    text-align: center;
    font-size: 2.5rem;
}

.title-projects {
    position: relative;
}

.title-projects::after {
    content: "";
    height: 2px;
    width: 20%;
    background: #0753c7;
    position: absolute;
    left: calc(50% - 10%);
    bottom: -5px;
}


/* =========== Sidebar =========== */

aside {
    position: fixed;
    top: 20%;
    left: 0px;
    width: 205px;
    height: 100%;
    overflow: none;
    z-index: 1;
    text-align: center;
    padding: 0;
}

aside a {
    display: block;
    color: black;
    transition: all 0.35s;
    letter-spacing: 2px;
    margin-top: 50%;
    text-align: justify;
    margin-left: 30px;
}

.fa {
    font-size: 25px;
    display: inline-block;
    padding: 0.5em 0.6em;
    margin-left: 50px;
}

.fas {
    font-size: 25px;
    display: inline-block;
    padding: 0.5em 0.6em;
    margin-left: 50px;
}

#mySidenav a {
    position: absolute;
    left: -90px;
    transition: 0.3s;
    padding: 15px;
    width: auto;
    text-decoration: none;
    width: 200px;
    font-size: 15px;
    color: white;
    border-radius: 0 10px 10px 0;
}

#mySidenav a:hover {
    left: -60px;
}

#home {
    top: -20px;
    background-color: #0753c7;
    /* background-color: #4CAF50; */
}

#about {
    top: 80px;
    background-color: #0753c7;
    /* background-color: #2196F3; */
}

#folio {
    top: 180px;
    background-color: #0753c7;
    /* background-color: #f44336; */
}

#contact {
    top: 280px;
    background-color: #0753c7;
    /* background-color: #555; */
}

.sprite-block {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    width: 900px;
    margin: 0 auto;
    color: fff;
    overflow-x: auto;
}

th,
td {
    text-align: left;
    padding: 8px;
}

table tr {
    background-color: #067ded;
    padding: .35em;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #0753c7;
}

.supply {
    display: none;
}

.volumeUsd24Hr {
    display: none;
}

.crypto-market {
    display: none;
}

.price-group span {
    float: left;
    font-weight: bolder;
}

.market-group span {
    float: left;
    font-weight: bolder;
}

.volume-group span {
    float: left;
    font-weight: bolder;
}

.supply-group span {
    float: left;
    font-weight: bolder;
}

.container-car {
    max-width: 900px;
    position: relative;
    padding: 5px;
    background: #fff;
    margin: 15px auto;
    box-shadow: 0 15px 35px -15px #656565;
    border-radius: 3px;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.klein-img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#previous,
#next {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    background: #0753c7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 25px);
    left: -20px;
    box-shadow: 0 12px 25px -9px #0041ac;
}

.fa-caret-right:before {
    content: "\f0da";
    left: 10px !;
    position: relative;
    right: 25px;
}

.fa-caret-left:before {
    content: "\f0da";
    left: 10px !;
    position: relative;
    right: 25px;
}

#next {
    left: unset;
    right: -20px;
}


/* Layout: */

.col-main {
    flex: 1;
}

.col-complementary {
    flex: 1;
}

blockquote {
    text-align: right;
    font-size: 1.4em;
    width: 900px;
    margin: 50px auto;
    font-style: normal;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-bottom: 8px solid #0753c7;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

blockquote::before {
    font-size: 200px;
    font-family: Arial;
    content: "\201C";
    color: #0753c7;
    position: absolute;
    left: 10px;
    top: -45px;
}

.view-project {
    text-decoration: none;
    color: #0753c7;
    font-size: 20px;
    font-weight: bold;
    float: right;
}


/* Responsive: */

@media only screen and (min-width: 640px) {
    .layout {
        display: flex;
    }
}


/* etc */

div.backBtn {
    width: 100px;
    background-color: #f4f4f4;
    transition: all 0.4s ease;
    position: relative;
    margin-bottom: 30px;
    margin-left: 10px;
    cursor: pointer;
}

span.line {
    bottom: auto;
    right: auto;
    top: auto;
    left: auto;
    background-color: #333;
    border-radius: 10px;
    width: 100%;
    left: 0px;
    // height: 2px;
    display: block;
    position: absolute;
    transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
}

span.tLine {
    top: 0px;
}

span.mLine {
    top: 13px;
    opacity: 0;
}

span.bLine {
    top: 26px;
}

.backlabel {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%;
    text-align: center;
    transition: all 0.4s ease;
    color: #0753c7;
    font-weight: bolder;
}

div.backBtn:hover span.backlabel {
    left: 25px
}

div.backBtn:hover span.line {
    left: -10px;
    height: 5px;
    background-color: #0753c7;
}

div.backBtn:hover span.tLine {
    width: 25px;
    transform: rotate(-45deg);
    left: -15px;
    top: 6px;
}

div.backBtn:hover span.mLine {
    opacity: 1;
    width: 30px;
}

div.backBtn:hover span.bLine {
    width: 25px;
    transform: rotate(45deg);
    left: -15px;
    top: 20px;
}

.container-review {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.col {
    padding: 1em;
    margin: 0 4px 4px 0;
    background: #fff;
    border-radius: 3px;
    color: #272829;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

i {
    font-weight: 500;
}

.col-main strong {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    color: #272829;
}

.col-complementary strong {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    color: #272829;
}

@media (max-width: 480px) {
    #previous,
    #next {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        top: calc(50% - 20px);
    }
}

@media (min-width: 1200px) {
    #previous,
    #next {
        width: 60px;
        height: 60px;
        border-radius: 18px;
        top: calc(50% - 30px);
        left: -30px;
    }
    #next {
        left: unset;
        right: -30px;
    }
}


/* =========== Media Queries =========== */

@media (max-width: 1200px) {
    .right-section-wrapper {
        color: #0753c7;
        text-shadow: 0 0 3px #0753c7, 0 0 50px black;
    }
}

@media (max-width: 601px) {
    aside {
        display: none;
    }
    .mobile-nav {
        // position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .card-container {
        margin-left: 0px;
    }
    .right-section-wrapper {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .mobile-nav a {
        width: 100%;
        color: #b2b2b2;
        text-transform: uppercase;
        font-size: 0.875em;
        letter-spacing: 2px;
        text-align: center;
        padding: 10px 10px;
        transition: all 0.35s;
    }
    .mobile-nav a:hover {
        background: #b2b2b2;
        color: #222;
    }
    .ui-ux {
        margin-left: 0px;
    }
}

@media (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
}